
    {% extends 'base.html' %}
    {% block title %}
      Home
    {% endblock title %}
    {% block body %}
    <form action ="/" method="POST">
      <h1>Add Todo</h1>
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="title" >
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Description</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="desc" ></textarea>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Update</button>
    </div>
    {% if alltodo|length == 0 %}
      no record
     
        
      {% else %}
        
    </form>
    <table class="table my-5">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Date Created</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <!-- for adding the todo objects in the table  -->
          {% for todo in alltodo %}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <!-- to increment even if deleted a sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW -->
            <td>{{todo.title}}</td>
            <td>{{todo.description}}</td>
            <td>{{todo.date_created}}</td>
            <td><a href ="/delete/{{todo.sno}}"><button type="button" class="btn btn-outline-primary">Delete</button></a>
                <a href="/update/{{todo.sno}}"> <button type="button" class="btn btn-outline-primary">Update</button></a>
           

            </td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
    {% endif %}
  
   
      
    {% endblock body %}
